@use 'colors' as c;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.login-bg {
    width: 35%; 
    background-image: url('../../assets/img/bg/bg-login.jpg'); 
    background-size: cover;
}

.custom-container {
    height: 100vh;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;

    .custom-card {
        width: 35%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
        background-color: #ffff;
    }
}


nav {
    background-color: c.$primary-color;
    border-bottom: 1px solid white;
}

footer {
    height: 50px;
    background-color: c.$primary-color;
    border-top: 1px solid white;

    .footer-content {
        color: #ffff;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// home
#header {
    padding: 50px;
    background: url('../img/bg/header.jpg');
    background-size: cover;

    .card-header {
        width: 85%;
        padding: 80px;
        background-color: rgba(0, 0, 0, 0.650);
        border-radius: 10px;
        text-align: justify;

        h1 {
            color: red;
            font-weight: 900;
        }

        p {
            color: #ffff;
        }
    }
}

#about {
    background-color: c.$secondary-color;
    padding: 0 200px;
    text-align: center;
}

#kost {
    padding: 0 100px;
    text-align: center;
}

// about
#vimi {
    background-color: c.$primary-color;
    width: 100%;
    
    .card-vimi {
        background-color: #ffff;
    }
}